
body {
  background: #000;
  font: 12px/20px Arial, sans-serif;
  color: #fff;
}

#content {
  width: 980px;
  margin: 0 auto;
}

#logo {
  margin: 20px 0;
}

#description {
  margin-bottom: 25px;
}


.obs{
    text-align: left;
    margin-top: 20px;
}

    .obs p{
        text-align: left;
        font-size: 15px;
    }

#my-gallery2{
    margin-top: 30px;
}

h2 a{
    color: #FFF;
}